# Python cache files
__pycache__/
*.pyc

# Django migrations
*/migrations/*

# Django specific
*.sqlite3
db.sqlite3
*.log
*.pot

# IDE files (VSCode, PyCharm, etc.)
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# npm and yarn logs
npm-debug.log
yarn-debug.log
yarn-error.log
