@import './base.css';


/* Container Styling */
.container {
    margin-top: 50px;
  }
  .background-container {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  }

  h1{
    font-size:2em;
    font-weight:500;
    color:#3f475a;
  }

  /* Custom Button Styling */
    .custom-btn {
        padding: 12px 20px;
        font-size: .8rem;
        font-weight: 500;
        text-align: center;
        text-transform: uppercase;
        background-color: rgba(216,137,54,.9019607843);
        color: white;
        border: 2px solid rgba(216,137,54,.9019607843);
        border-radius: 15px;
        transition: all 0.3s ease;
        box-shadow: 0px 4px 6px rgba(216,137,54,.5);
    }
    
    /* Hover Effect */
    .custom-btn:hover {
        background-color: rgba(216,137,54,.9019607843);
        border-color: rgba(216,137,54,.9019607843);
        box-shadow: 0px 6px 12px rgba(216,137,54,.5);
        transform: translateY(-2px);
    }
    
    /* Focus Effect */
    .custom-btn:focus {
        outline: none;
        box-shadow: 0px 0px 8px rgba(216,137,54,.5);
    }
    
    /* Active Button State */
    .custom-btn:active {
        background-color: rgba(216,137,54,.9019607843);
        border-color: rgba(216,137,54,.9019607843);
        transform: translateY(1px);
    }

    
    /* Table Styling */
    table {
      width: 100%;
      border-collapse: collapse;
      margin: 0;
      border: none;
      font-family: 'Arial', sans-serif;
      color: #333;
    }

   